<div class = "artistStyles">
	<p>
		<%= image_tag(@idea.picture_url, width: 750) if @idea.picture.present? %>
	</p>
	<p>
		<strong>
			<%= @idea.name%>
		</strong>
	</p>
	<div class="reactionSetStyles">
		<% Reaction::SENTIMENTS.each do |sentiment| %>
		<%= link_to sentiment, idea_reactions_path(@idea, sentiment: sentiment), method: :post %> 
		(<%= @idea.reactions.where(sentiment: sentiment).count %>)
		<% end %>
	</div>
	<div style="padding-bottom: 20px;">
		<%= @idea.description %>
	</div>

	

	<!-- MAKE THIS A DIFFERENT COLOR -->
	<div style="background-color: #e5e5ec;">
		<div style="padding: 20px; background-color: #dadadd;">
			<strong> Comments </strong>
		</div>
		<% @comments.each do |comment| %>
		<div>
			<strong><%= comment.user_name %></strong>
			<%= comment.body %>
			<hr>
		</div>
		<% end %>
	</div>
	
	<hr>
	<%= render 'comments/form' %>
</div>